#weather-container {
    display: grid;
    grid-template-columns: 1fr;

    

    // justify-content: center;
    // align-content: center;

    // align-items: center;
    justify-items: center;

    // text-align: center;
}

.temp-current-row,
.temp-range-row {
    display: grid;
    width: 400px;

    grid-template-columns: 1fr 1fr;
    // grid-template-columns: 500px, 500px;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    background-color: red;

    span {
        text-align: center;
        // width: 150px;
        // width: auto;
        // display: inline-block;
        background-color: greenyellow;
    }
}